exportPattern("^[[:alpha:]]+")
importFrom(Rdpack,reprompt)
export(fgwc)
export(fgwcuv)
export(abcfgwc)
export(fpafgwc)
export(gsafgwc)
export(hhofgwc)
export(ifafgwc)
export(psofgwc)
export(tlbofgwc)
